@import url("https://fonts.googleapis.com/css?family=Poppins");

body {
  background-color: #131316;
  color: #ffffff;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

h1 {
  margin-top: 2em;
  margin-bottom: 3em;
  color: #ffffff;
}

textarea {
  width: 50%;
  height: 15em;
  border-radius: 15px;
  padding: 15px;
  font-size: 16px;
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
  color: #131316;
  border: none;
}

button {
  margin: 1em;
  margin-top: 2em;
  font-size: 15px;
  width: 120px;
  height: 40px;
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
  border-radius: 10px;
  border: none;
  margin-bottom: 5em;
  cursor: pointer;
}

.App {
  text-align: center;
}